body {
    margin: 0;
    overflow: hidden;
    background: black;
}

canvas {
    display: block;
}

#game {
    position: fixed;
    z-index: 1;
}

#darkness {
    position: fixed;
    z-index: 2;
    pointer-events: none;
}